<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学车么</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div style="position: absolute; height: 100%; width: 100%;">
    <img style="display: block; width: 100%;" src="/static/img/back0.jpg">
    <img style="display: block; width: 100%;" src="/static/img/back1.jpg">
</div>
</body>
</html>