<!DOCTYPE html>
<html class=" js csstransforms3d"><head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>课表管理</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/page.css">
    <!--[if lte IE 8]>
    <link href="/static/css/ie8.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    <script type="text/javascript" src="/static/js/vue.min.js"></script>

    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body style="background: #f6f5fa;">


<div class="super-content">
    <div class="superCtab">
        <div class="publishArt">
            <h4>修改密码</h4>
            <div class="pubMain">
                <h5 class="pubtitle">旧密码</h5>
                <div class="pub-txt-bar">
                    <input id="old_pass" type="password" class="shuruTxt shuruTxt2"><b class="error"></b>
                </div>
                <h5 class="pubtitle">新密码<span>（数字、字母、符号，最少5个字符）</span></h5>
                <div class="pub-txt-bar">
                    <input id="new_pass" type="password" class="shuruTxt shuruTxt2"><b class="error"></b>
                </div>
                <h5 class="pubtitle">确认密码</h5>
                <div class="pub-txt-bar">
                    <input id="re_pass" type="password" class="shuruTxt shuruTxt2"><b class="error"></b>
                </div>
                <div class="pub-btn">
                    <input type="button" id="changePass" value="确定" class="saveBtn">
                </div>
            </div>
        </div>

    </div>
    <!--main-->

</div>

<script>

    $('#changePass').click(function () {
        var old_pass = $('#old_pass').val();
        var new_pass = $('#new_pass').val();
        var re_pass = $('#re_pass').val();
        $.post("{:url('/changePass')}", {
            old_pass: $('#old_pass').val(),
            new_pass: $('#new_pass').val(),
            re_pass: $('#re_pass').val()
        }, function(data,status) {
            if(data != 'ok') {
                alert(data);
            } else {
                alert('修改成功！');
                location.reload();
            }
        });
    });

</script>

</body></html>